.wrapper {
    width: 80%;
    margin: 10%;
}

.treeNodesContainer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .func {
      display: flex;
      flex-direction: column;
  
      button {
        line-height: 20px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        background: #fff;
        padding: 2px 12px;
        margin: 12px 0;
        cursor: pointer;
      }
    }
  }
  
  .indicators-panel-select-div {
    width: 45%;
    height: 100%;
    border: 1px solid #d9d9d9;
  
    p {
      font-size: 14px;
      text-align: center;
      margin-bottom: 0;
    }
  
    .tool-box-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .tool-box {
        width: 48%;
        display: flex;
      }
    }
  
    .tree-container {
      height: calc(100% - 42px);
      overflow: auto;
      margin-top: 10px;
      width: 100%;
      .custom-node {
  
        .file-name {
          color: #222;
          margin-left: 2px;
        }
  
        .folder-desc {
          padding: 0 8px;
          display: inline-block;
          border: solid 1px #2469DF;
          border-radius: 2px;
          color: #555;
          position: relative;
          left: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  .indicators-panel-tree-div{
    height: 100%;
  }
  
  .font-highlight {
    padding: 0 5px;
    margin-left: -5px;
    color: #fff !important;
    background-color: #f5222d;
  }
  
  ::ng-deep .tree-container .ant-tree-child-tree {
    overflow: inherit;
  }
  
  ::ng-deep .tree-container .ant-tree {
    overflow: inherit;
  }
  
  /*滚动条整体样式*/
  .tree-container::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 5px;
    height: 5px;
  }
  
  .tree-container::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }
  
  .tree-container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }